In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Leer los archivos de Excel
obligaciones_clientes = pd.read_excel("./datos/obligaciones_clientes.xlsx", sheet_name="Obligaciones_clientes")
tasas_productos = pd.read_excel('./datos/tasas_productos.xlsx', sheet_name="Tasas")

In [8]:
# Estructura de las 5 primeras columnas de obligaciones_clientes
print(obligaciones_clientes.head())

      radicado  num_documento  cod_segm_tasa  cod_subsegm_tasa  \
0  14427616502     1081648945              5                 2
1  14427616257     1032058622              2                -1
2  14427615471     1081374249              5                 2
3  14426546522      996136114              5                 1
4  14427616197     1080662762              5                 2

  cal_interna_tasa                             id_producto  \
0               C4              OEL - operacion_especifica
1               R1  0000000000097492172 - 29-Cartera Total
2               C4                           OEL - leasing
3               C1  0000000090000272791 - 29-Cartera Total
4               C4  0000000090000242224 - 29-Cartera Total

        tipo_id_producto  valor_inicial fecha_desembolso  plazo  \
0    cod_plan - producto   1.050000e+06       2023-01-31   60.0
1  Obligacion - producto   2.848500e+05       2021-09-30   61.0
2    cod_plan - producto   7.528858e+04       2023-01-31   60.0
3  Obligacion - producto   6.240000e+05       2021-09-30  121.0
4  Obligacion - producto   1.909350e+05       2021-12-31   48.0

   cod_periodicidad periodicidad   saldo_deuda modalidad tipo_plazo
0                 1      MENSUAL  1.050000e+06     Nuevo         LP
1                 1      MENSUAL  2.414313e+05    Actual         LP
2                 1      MENSUAL  7.528858e+04     Nuevo         LP
3                 1      MENSUAL  4.375334e+05    Actual         LP
4                 1      MENSUAL  1.159688e+05    Actual         LP

In [9]:
# Estructura de las 5 primeras columnas de tasas_productos
print(tasas_productos.head())

   cod_segmento                   segmento  cod_subsegmento  \
0             9  NEGOCIOS E INDEPENDIENTES               -1
1             9  NEGOCIOS E INDEPENDIENTES               -1
2             9  NEGOCIOS E INDEPENDIENTES               -1
3             9  NEGOCIOS E INDEPENDIENTES               -1
4             9  NEGOCIOS E INDEPENDIENTES               -1

  calificacion_riesgos  tasa_cartera  tasa_operacion_especifica  \
0                  C12      0.259170                   0.242689
1                  C11      0.250350                   0.239824
2                  C10      0.244242                   0.237597
3                   C9      0.232909                   0.233487
4                   C8      0.223275                   0.228521

   tasa_hipotecario  tasa_leasing  tasa_sufi  tasa_factoring  tasa_tarjeta
0          0.184613      0.146794   0.134048        0.146465        0.3867
1          0.206170      0.137014   0.126061        0.158310        0.3867
2          0.089940      0.137798   0.116774        0.164796        0.3867
3          0.159345      0.143824   0.123468        0.168163        0.3867
4          0.137500      0.144439   0.189358        0.175926        0.3867

In [10]:
# Valores faltantes de obligaciones_clientes
print(obligaciones_clientes.isnull().sum())

"""
Solo plazo tiene 6 valores faltantes, no afecta al proposito final de este reto
"""

radicado            0
num_documento       0
cod_segm_tasa       0
cod_subsegm_tasa    0
cal_interna_tasa    0
id_producto         0
tipo_id_producto    0
valor_inicial       0
fecha_desembolso    0
plazo               6
cod_periodicidad    0
periodicidad        0
saldo_deuda         0
modalidad           0
tipo_plazo          0
dtype: int64

'\nSolo plazo tiene 6 valores faltantes, pero son introducidos a proposito en excel,\nposiblemente tendrá algún proposito\n'

In [11]:
# Valores faltantes de tasas_productos
print(tasas_productos.isnull().sum())

cod_segmento                 0
segmento                     0
cod_subsegmento              0
calificacion_riesgos         0
tasa_cartera                 0
tasa_operacion_especifica    0
tasa_hipotecario             0
tasa_leasing                 0
tasa_sufi                    0
tasa_factoring               0
tasa_tarjeta                 0
dtype: int64

In [12]:
# Resumen estadístico de cada columna de obligaciones_clientes
for columna in obligaciones_clientes.columns:
      print("Descripción de la columna: " + columna)
      print(obligaciones_clientes[columna].describe())
      print("\n" + "-"*50 + "\n")

Descripción de la columna: radicado
count    2.048000e+03
mean     1.377756e+10
std      2.856318e+09
min      1.442655e+07
25%      1.442761e+10
50%      1.442762e+10
75%      1.442762e+10
max      1.442762e+10
Name: radicado, dtype: float64

--------------------------------------------------

Descripción de la columna: num_documento
count    2.048000e+03
mean     9.304497e+08
std      3.602105e+08
min      3.907738e+06
25%      9.960408e+08
50%      1.080296e+09
75%      1.081053e+09
max      1.353933e+09
Name: num_documento, dtype: float64

--------------------------------------------------

Descripción de la columna: cod_segm_tasa
count    2048.000000
mean        4.713867
std         1.412196
min         2.000000
25%         5.000000
50%         5.000000
75%         5.000000
max         9.000000
Name: cod_segm_tasa, dtype: float64

--------------------------------------------------

Descripción de la columna: cod_subsegm_tasa
count    2048.000000
mean        1.887695
std         1.715496
min        -1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         4.000000
Name: cod_subsegm_tasa, dtype: float64

--------------------------------------------------

Descripción de la columna: cal_interna_tasa
count     2048
unique      26
top         C1
freq       245
Name: cal_interna_tasa, dtype: object

--------------------------------------------------

Descripción de la columna: id_producto
count              2048
unique              788
top       RLP - cartera
freq                419
Name: id_producto, dtype: object

--------------------------------------------------

Descripción de la columna: tipo_id_producto
count                    2048
unique                      2
top       cod_plan - producto
freq                     1210
Name: tipo_id_producto, dtype: object

--------------------------------------------------

Descripción de la columna: valor_inicial
count    2.048000e+03
mean     3.376266e+05
std      8.310146e+05
min      3.453000e+01
25%      3.705000e+04
50%      1.131000e+05
75%      3.043125e+05
max      1.395000e+07
Name: valor_inicial, dtype: float64

--------------------------------------------------

Descripción de la columna: fecha_desembolso
count                             2048
mean     2021-07-13 07:44:03.750000128
min                1994-10-31 00:00:00
25%                2021-03-24 18:00:00
50%                2022-08-10 00:00:00
75%                2023-01-31 00:00:00
max                2023-01-31 00:00:00
Name: fecha_desembolso, dtype: object

--------------------------------------------------

Descripción de la columna: plazo
count      2042.000000
mean        285.585211
std        9122.230011
min           0.000000
25%          12.000000
50%          36.000000
75%          48.000000
max      400000.000000
Name: plazo, dtype: float64

--------------------------------------------------

Descripción de la columna: cod_periodicidad
count    2048.000000
mean        1.272949
std         1.284689
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        12.000000
Name: cod_periodicidad, dtype: float64

--------------------------------------------------

Descripción de la columna: periodicidad
count        2048
unique          5
top       MENSUAL
freq         1928
Name: periodicidad, dtype: object

--------------------------------------------------

Descripción de la columna: saldo_deuda
count    2.048000e+03
mean     2.462359e+05
std      6.592792e+05
min      0.000000e+00
25%      1.953816e+04
50%      7.208614e+04
75%      2.249720e+05
max      1.385120e+07
Name: saldo_deuda, dtype: float64

--------------------------------------------------

Descripción de la columna: modalidad
count       2048
unique         2
top       Actual
freq        1220
Name: modalidad, dtype: object

--------------------------------------------------

Descripción de la columna: tipo_plazo
count     2048
unique       2
top         CP
freq      1459
Name: tipo_plazo, dtype: object

--------------------------------------------------

In [13]:
# Resumen estadístico de cada columna de tasas_productos
for columna in tasas_productos.columns:
      print("Descripción de la columna: " + columna)
      print(tasas_productos[columna].describe())
      print("\n" + "-"*50 + "\n")

Descripción de la columna: cod_segmento
count    117.000000
mean       5.179487
std        1.954726
min        2.000000
25%        5.000000
50%        5.000000
75%        5.000000
max        9.000000
Name: cod_segmento, dtype: float64

--------------------------------------------------

Descripción de la columna: segmento
count      117
unique       4
top       PYME
freq        76
Name: segmento, dtype: object

--------------------------------------------------

Descripción de la columna: cod_subsegmento
count    117.000000
mean       1.273504
std        1.905636
min       -1.000000
25%       -1.000000
50%        1.000000
75%        3.000000
max        4.000000
Name: cod_subsegmento, dtype: float64

--------------------------------------------------

Descripción de la columna: calificacion_riesgos
count     117
unique     30
top       C12
freq        5
Name: calificacion_riesgos, dtype: object

--------------------------------------------------

Descripción de la columna: tasa_cartera
count    117.000000
mean       0.216555
std        0.047485
min        0.121857
25%        0.181164
50%        0.213129
75%        0.252353
max        0.341465
Name: tasa_cartera, dtype: float64

--------------------------------------------------

Descripción de la columna: tasa_operacion_especifica
count    117.000000
mean       0.206993
std        0.037443
min        0.125019
25%        0.183374
50%        0.212406
75%        0.233487
max        0.268191
Name: tasa_operacion_especifica, dtype: float64

--------------------------------------------------

Descripción de la columna: tasa_hipotecario
count    117.000000
mean       0.145911
std        0.038104
min        0.072960
25%        0.124317
50%        0.149184
75%        0.160708
max        0.279610
Name: tasa_hipotecario, dtype: float64

--------------------------------------------------

Descripción de la columna: tasa_leasing
count    117.000000
mean       0.125714
std        0.016274
min        0.082563
25%        0.113946
50%        0.126644
75%        0.137798
max        0.167353
Name: tasa_leasing, dtype: float64

--------------------------------------------------

Descripción de la columna: tasa_sufi
count    117.000000
mean       0.106264
std        0.029092
min        0.030000
25%        0.086381
50%        0.106629
75%        0.125831
max        0.189358
Name: tasa_sufi, dtype: float64

--------------------------------------------------

Descripción de la columna: tasa_factoring
count    117.000000
mean       0.150124
std        0.021251
min        0.117449
25%        0.139856
50%        0.146465
75%        0.158310
max        0.253819
Name: tasa_factoring, dtype: float64

--------------------------------------------------

Descripción de la columna: tasa_tarjeta
count    1.170000e+02
mean     3.867000e-01
std      3.902494e-16
min      3.867000e-01
25%      3.867000e-01
50%      3.867000e-01
75%      3.867000e-01
max      3.867000e-01
Name: tasa_tarjeta, dtype: float64

--------------------------------------------------

# Se requiere tomar las obligaciones de cada cliente y agregar la tasa correspondiente al producto asignado

In [14]:
import pandas as pd

# Renombrar columnas para que coincidan en el join
tasas_productos.rename(columns={
    'cod_segmento': 'cod_segm_tasa',
    'cod_subsegmento': 'cod_subsegm_tasa',
    'calificacion_riesgos': 'cal_interna_tasa'
}, inplace=True)

# Merge entre las tablas (Join left)
merged_df = pd.merge(
    obligaciones_clientes,
    tasas_productos,
    on=['cod_segm_tasa', 'cod_subsegm_tasa', 'cal_interna_tasa'],
    how='left'
)

# Inicialmente cada columna va a tener todas las tasas para que sea mas facil
# escogerla entre todas. La función de obtener tasa, evaluará que tasa corresponde
# al producto de la fila.
def obtener_tasa(row):
    producto = row['id_producto'].lower()
    if 'cartera' in producto:
        return row['tasa_cartera']
    elif 'hipotecario' in producto:
        return row['tasa_hipotecario']
    elif 'leasing' in producto:
        return row['tasa_leasing']
    elif 'sufi' in producto:
        return row['tasa_sufi']
    elif 'factoring' in producto:
        return row['tasa_factoring']
    elif 'tarjeta' in producto:
        return row['tasa_tarjeta']
    elif 'operacion_especifica' in producto:
        return row['tasa_operacion_especifica']
    else:
        return None

# Aqui se aplicará la función anterior y será almacenada en una columna nueva
# llamada tasa_asignada.
merged_df['tasa_asignada'] = merged_df.apply(obtener_tasa, axis=1)

# Borrar las columnas de las tasas que se usaron para el procedimiento
merged_df = merged_df.drop(["tasa_cartera", "tasa_hipotecario", "tasa_leasing", "tasa_sufi", "tasa_factoring", "tasa_tarjeta", "tasa_operacion_especifica"], axis=1)

print(merged_df.head())

      radicado  num_documento  cod_segm_tasa  cod_subsegm_tasa  \
0  14427616502     1081648945              5                 2
1  14427616257     1032058622              2                -1
2  14427615471     1081374249              5                 2
3  14426546522      996136114              5                 1
4  14427616197     1080662762              5                 2

  cal_interna_tasa                             id_producto  \
0               C4              OEL - operacion_especifica
1               R1  0000000000097492172 - 29-Cartera Total
2               C4                           OEL - leasing
3               C1  0000000090000272791 - 29-Cartera Total
4               C4  0000000090000242224 - 29-Cartera Total

        tipo_id_producto  valor_inicial fecha_desembolso  plazo  \
0    cod_plan - producto   1.050000e+06       2023-01-31   60.0
1  Obligacion - producto   2.848500e+05       2021-09-30   61.0
2    cod_plan - producto   7.528858e+04       2023-01-31   60.0
3  Obligacion - producto   6.240000e+05       2021-09-30  121.0
4  Obligacion - producto   1.909350e+05       2021-12-31   48.0

   cod_periodicidad periodicidad   saldo_deuda modalidad tipo_plazo  \
0                 1      MENSUAL  1.050000e+06     Nuevo         LP
1                 1      MENSUAL  2.414313e+05    Actual         LP
2                 1      MENSUAL  7.528858e+04     Nuevo         LP
3                 1      MENSUAL  4.375334e+05    Actual         LP
4                 1      MENSUAL  1.159688e+05    Actual         LP

      segmento  tasa_asignada
0         PYME       0.202839
1  Empresarial       0.121857
2         PYME       0.134434
3         PYME       0.193960
4         PYME       0.190215

In [15]:
# Resumen estadístico de la columna
columna = "tasa_asignada"
print("Descripción de la columna: " + columna)
print(merged_df[columna].describe())
print("\n" + "-"*50 + "\n")

Descripción de la columna: tasa_asignada
count    2048.000000
mean        0.234230
std         0.080476
min         0.088588
25%         0.167614
50%         0.213655
75%         0.279129
max         0.386700
Name: tasa_asignada, dtype: float64

--------------------------------------------------

# Se debe convertir la tasa a una tasa efectiva

In [16]:
# Función para obtener el valor numérico de la periodicidad
def obtener_periodicidad(periodicidad):
    if periodicidad.lower() == "mensual":
        return 1
    elif periodicidad.lower() == "bimensual":
        return 2
    elif periodicidad.lower() == "trimestral":
        return 3
    elif periodicidad.lower() == "semestral":
        return 6
    elif periodicidad.lower() == "anual":
        return 12
    else:
        return None

# Periodicidad que se obtiene con la función anterior
merged_df['periodicidad_num'] = merged_df['periodicidad'].apply(obtener_periodicidad)

# n = 12 / periodicidad_num
merged_df['n'] = 12 / merged_df['periodicidad_num']

# Función para calcular la tasa efectiva
def calcular_tasa_efectiva(row):
    t = row['tasa_asignada']
    n = row['n']
    return (1 + t) ** (1 / n) - 1

# Nueva columna con la tasa efectiva (Aplica la función de calcular_tasa_efectiva)
merged_df['tasa_efectiva'] = merged_df.apply(calcular_tasa_efectiva, axis=1)

# Borrar las columnas extras que se crearon para cálcular la tasa efectiva
merged_df = merged_df.drop(["periodicidad_num", "n"], axis=1)

print(merged_df.tasa_efectiva.head())

0    0.015509
1    0.009628
2    0.010567
3    0.014883
4    0.014617
Name: tasa_efectiva, dtype: float64

In [18]:
# Resumen estadístico de la columna
columna = "tasa_efectiva"
print("Descripción de la columna: " + columna)
print(merged_df[columna].describe())
print("\n" + "-"*50 + "\n")

Descripción de la columna: tasa_efectiva
count    2048.000000
mean        0.022304
std         0.024304
min         0.007099
25%         0.013258
50%         0.016656
75%         0.021294
max         0.285235
Name: tasa_efectiva, dtype: float64

--------------------------------------------------

# Tomar la tasa efectiva, multiplicarla por el valor_inicial y dejar este resultado como valor_final, el resultado de esta tabla debe quedar almacenado.

In [22]:
# valor_final = tasa efectiva * valor_inicial
merged_df['valor_final'] = merged_df['tasa_efectiva'] * merged_df['valor_inicial']

# Guardar el DataFrame actualizado en un excel
merged_df.to_excel("./resultados/valor_final_Python.xlsx", index=False)

print(merged_df.valor_final.head())

0    16284.871534
1     2742.580271
2      795.544732
3     9286.758274
4     2790.889388
Name: valor_final, dtype: float64

In [26]:
# Resumen estadístico de la columna
columna = "valor_final"
print("Descripción de la columna: " + columna)
print(merged_df[columna].describe())
print("\n" + "-"*50 + "\n")

Descripción de la columna: valor_final
count    2.048000e+03
mean     6.458518e+03
std      2.602454e+04
min      5.943641e-01
25%      7.397754e+02
50%      2.071381e+03
75%      5.730622e+03
max      1.018844e+06
Name: valor_final, dtype: float64

--------------------------------------------------

# Se necesita sumar el valor_final de todas las obligaciones por cliente y dejar únicamente las que tenga una cantidad de productos mayor o igual a 2, el resultado de esta tabla debe quedar almacenado.

In [27]:
# Agrupar por cliente (num_documento) y calcular la suma de valor_final y el número de productos
resumen_clientes = merged_df.groupby('num_documento').agg(
    total_valor_final=('valor_final', 'sum'),
    cantidad_productos=('id_producto', 'count')
).reset_index()

# Solo filtrar los clientes con dos o más productos
clientes_filtrados = resumen_clientes[resumen_clientes['cantidad_productos'] >= 2]

# Guardar el resultado de esta agrupación
clientes_filtrados.to_excel("./resultados/clientes_filtrados_Python.xlsx", index=False)

print(clientes_filtrados.head())

   num_documento  total_valor_final  cantidad_productos
0        3907738        6741.584647                  10
1        4234923       18035.643930                   8
3        4935132       14118.804577                   8
4        7061608       13730.266357                   5
5        7099543       10100.998957                   6

In [29]:
# Resumen estadístico de cada columna
for columna in clientes_filtrados.columns:
      print("Descripción de la columna: " + columna)
      print(clientes_filtrados[columna].describe())
      print("\n" + "-"*50 + "\n")

Descripción de la columna: num_documento
count    2.650000e+02
mean     9.387042e+08
std      3.698469e+08
min      3.907738e+06
25%      9.960665e+08
50%      1.080581e+09
75%      1.081388e+09
max      1.353933e+09
Name: num_documento, dtype: float64

--------------------------------------------------

Descripción de la columna: total_valor_final
count    2.650000e+02
mean     4.922737e+04
std      1.073177e+05
min      3.451747e+02
25%      7.035161e+03
50%      1.373027e+04
75%      4.977256e+04
max      1.052060e+06
Name: total_valor_final, dtype: float64

--------------------------------------------------

Descripción de la columna: cantidad_productos
count    265.000000
mean       7.584906
std        7.037330
min        2.000000
25%        3.000000
50%        5.000000
75%       10.000000
max       63.000000
Name: cantidad_productos, dtype: float64

--------------------------------------------------